.cover {
    margin: 0 auto;
    width: 1184px;
    height: 740px;
    background-image: url('../../images/cover/cover-trains.jpg');
    background-repeat: no-repeat;
    background-position: center;
}