.footer {
    max-width: 1184px;
    padding-top: 90px;
    padding-bottom: 24px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media screen and (max-width: 1024px) {
    .footer {
        max-width: 100%;
        padding-left: 48px;
        padding-right: 48px;
    }
}

@media (max-width: 768px) {
    .footer {
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media (max-width: 566px) {
    .footer {
        padding-top: 64px;
        padding-left: 16px;
        flex-direction: column;
    }
}

/*@media (max-width: 320px) {
    .footer {
        padding-top: 64px;
        padding-left: 16px;
        flex-direction: column;
    }
}*/